html, body {
  font-family: sans;
  background-image: url("gfx/tx2.png");
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}
navPage {
  font-size: 40px;
}
pageTwo {
  font-size: 25px;
  font-style: italic;
}
.gray1 {
  color: rgba(20,20,0,0.8);
}
