<template id="data">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
content {
  font-size: 18px;
  font: Tahoma;
}
input {
  height: 25px;
  font-size: 15px;
  padding: 5px;
  width: 88%;
}
.input1 {
  width: 200px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: auto;
  width: 90%;
  min-width: 925px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
h4 {
  display: inline-block;
  width: 200px;
  height: 100%;
  margin: 5px;
  padding: 6px;
  background-color: rgba(30,0,0,0.2);
}
h5 {
  margin: 0px;
  margin-right: -18px;
  font-size: 12px;
  max-width: 50px;
}
button {
  margin: 10px 0px 10px;
  width: 300px;
  height: 38px;
  font-size: 18px;
  background-color: rgba(0,0,0,0.1);
  border: 2px;
}
button:hover {
  background-color: rgba(0,0,0,0.05);

}
#iAge, #iHome {
  width: 418px;
  margin-top: 2px;
  margin-left: 0.5px;
}
.eBut {
  width: 70px;
  margin-right: 0px;
  background-color: rgba(150,20,20, 0.3);
  border-radius: 3px;
}
.label-text {
  min-width: 110px;
}
.label-num {
  width: 50px;
}
.edit-col {
  text-align: center;
}
.show-col {
  width: 50px;
}
.input-num {
  width: 33px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div>
    <h2>Create more ID cards by adding names and/or numbers</h2>
    <h4> Name: </h4>
    <input class='input1' id='iName' placeholder="first ..."/>
    <input class='input1' id='iLast' placeholder="last ..."/> <br>
    <h4> Height: </h4>
    <input class='input1' id='iFeet' placeholder="feet ..."/>
    <input class='input1' id='iInches' placeholder="inches ..."/> <br>
    <h4> Age: </h4>
    <input class='input1' id='iAge' placeholder="age ..."/> <br>
    <h4> Hometown: </h4>
    <input class='input1' id='iHome' placeholder="city of residence ..."/> <br>
    <button id='more'> Submit </button>
    <br><br>

    <table if='arr[0] !willPass' if='nest[idCards] nest.idCards[0].name nOT.pASS nest' >
      <!-- ^^^ use case for if array and placing ifs in row to mimick ORs. remove ! on !willPass and it won't show do to condition... -->

      <tr id='labels'>
        <th class='label-text'> Title </th>
        <th class='label-text'> First Name </th>
        <th class='label-text'> Last Name </th>
        <th class='label-num'> Age </th>
        <th class='label-num'> ft. </th>
        <th class='label-num'> in. </th>
        <th style='min-width: 200px;'> Residence </th>
        <th class="show-col"> Show </th>
      </tr>
      <tbody id='checkBoxes' for='idCard,i nest.idCards'>
        <tr>
          <td >
            <p if="!idCard.edit"> idCard.title  </p>
            <input if="idCard.edit" placeholder="idCard.title">
          </td>
          <td>
            <p if="!idCard.edit"> idCard.name </p>
            <input if="idCard.edit" placeholder="idCard.name">
          </td>
          <td>
            <p if="!idCard.edit"> idCard.last </p>
            <input if="idCard.edit" placeholder="idCard.last">
          </td>
          <td>
            <p if="!idCard.edit"> idCard.age </p>
            <input class="input-num" if="idCard.edit" placeholder="idCard.age">
          </td>
          <td>
            <p if="!idCard.edit"> idCard.ft- " </p>
            <input class="input-num" if="idCard.edit" placeholder='idCard.ft'>
          </td>
          <td>
            <p if="!idCard.edit"> idCard.in- " </p>
            <input class="input-num" if="idCard.edit" placeholder='idCard.in'>
          </td>
          <td>
            <p if="!idCard.edit"> idCard.home </p>
            <input if="idCard.edit" placeholder="idCard.home">
          </td>
          <td>
            <input style='margin-left: 15px;' key="i" val="show"
              type="checkbox" checked="idCard.show">
          </td>
          <td class='edit-col'>
            <button key="i" class='eBut' val="edit"> Edit </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p if='nest.idCards'> <em> * You can also hit </em><strong>[enter]</strong><em> to add </em> </p>
    <p if='!nest.idCards'> <em> ! No data Avilalbe ! </em><br> Fill out form to add Data  </p>
    <br>

    <div if='nest.editCard' var='n nest.editCard, x nest.idCards[1], y nest.idCards[1].last, z nest.idCards[1].age'>
      <div for='v,k,i nest.editCard'>
        <none indices='s1 e6'>  k- : <strong> v </strong> </none>
        <br indices='2 5'>
      </div>
      <strong>x.name y z n.show</strong>
    </div>

  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('data-tag') )=>{

  c.add = ()=>{
    data.nest.idCards.push({
      title: 'ID Card ' + (data.nest.idCards.length+1),
      name: c.I('iName').value,
      last: c.I('iLast').value,
      age: c.I('iAge').value,
      feet: c.I('iFeet').value,
      inches: c.I('iInches').value,
      home: c.I('iHome').value,
      show: 'true'
    })
    c.I('iName').value = ''
    c.I('iLast').value = ''
    c.I('iAge').value = ''
    c.I('iFeet').value = ''
    c.I('iInches').value = ''
    c.I('iHome').value = ''
    c.I('iName').focus()
  }

  c._ADD_EVENT('click', 'checkBoxes', ([ key, val ] = c.KV(event))=>{
    if (val === "edit") {
      const state = data.nest.idCards[key][val]
      for (const c of data.nest.idCards) delete(c[val])
      !state ? data.nest.idCards[key][val] = 'true' : delete(state)
      data.nest.editCard = data.nest.idCards[key]
    }
    if (val === "show") {
      const checkBoxStatus = event.path[0].checked === true ? 'true' : 'false'
      data.nest.idCards[key][val]= checkBoxStatus
    }

  }, true)

  c._ADD_EVENT('click', 'more', ()=>{
    c.add()
  }, true)

  c._ADD_EVENT('keypress', 'iHome', ()=>{
    if (event.keyCode == 13) c.add()
  }, true)

  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
