<template id="data">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
content {
  font-size: 18px;
  font: Tahoma;
}
input {
  height: 25px;
  font-size: 15px;
  padding: 5px;
  width: 200px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
h4 {
  display: inline-block;
  width: 200px;
  height: 100%;
  margin: 5px;
  padding: 6px;
  background-color: rgba(30,0,0,0.2);
}
h5 {
  margin: 0px;
  margin-right: -18px;
  font-size: 12px;
  max-width: 50px;
}
button {
  margin: 10px 0px 10px;
  width: 300px;
  height: 38px;
  font-size: 18px;
  background-color: rgba(0,0,0,0.1);
  border: 2px;
}
button:hover {
  background-color: rgba(0,0,0,0.05);

}
#iAge, #iHome {
  width: 418px;
  margin-top: 2px;
  margin-left: 0.5px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div>
    <h2>Create more ID cards by adding names and/or numbers</h2>
    <h4> Name: </h4>
    <input id='iName' placeholder="first ..."/>
    <input id='iLast' placeholder="last ..."/> <br>
    <h4> Height: </h4>
    <input id='iFeet' placeholder="feet ..."/>
    <input id='iInches' placeholder="inches ..."/> <br>
    <h4> Age: </h4>
    <input id='iAge' placeholder="age ..."/> <br>
    <h4> Hometown: </h4>
    <input id='iHome' placeholder="city of residence ..."/> <br>
    <button id='more'> Submit </button>
    <br><br>
    <table if='nest[idCards]'>
      <tr id='labels' for='v,k,i nest[idCards][0]'>
        <th> k </th>
      </tr>
      <div var='x nest.idCards[1].name, y nest.idCards[1].last, z nest.idCards[1].age'>
        <input js-value="x ...more"/>
        <input js-value="y ...and more"/>
        <input js-value="z ...and and more"/>
        <input js-value="x y z "/>
        <div>
          test x y z
        </div>

      </div>
      </div>
      <input var='y nest.idCards[1].name' js-value="y ...and more"/>

      <tbody id='checkBoxes' for='components nest.idCards'>
        <tr>
          <td> components.title </td>
          <td> components.name </td>
          <td> components.last </td>
          <td> <input js-value="components.age and more..."/> </td>
          <td> components.feet </td>
          <td> components.inches </td>
          <td> components.home </td>
          <td> <input id='checker' type="checkbox"> </td>
        </tr>
      </tbody>
    </table>
    <p if='nest.idCards'> <em> * You can also hit </em><strong>[enter]</strong><em> to add </em> </p>
    <p if='!nest.idCards'> <em> ! No data Avilalbe ! </em><br> Fill out form to add Data  </p>
    <br>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('data-tag') )=>{

  c._ON_SET = (attr)=>{
    c.nameSwap()
    c.setCheck()
  }

  c.add = ()=>{
    data.nest.idCards.push({
      title: 'ID Card ' + (data.nest.idCards.length+1),
      name: c.I('iName').value,
      last: c.I('iLast').value,
      age: c.I('iAge').value,
      feet: c.I('iFeet').value,
      inches: c.I('iInches').value,
      home: c.I('iHome').value,
      show: 'false'
    })
    c.I('iName').value = ''
    c.I('iLast').value = ''
    c.I('iAge').value = ''
    c.I('iFeet').value = ''
    c.I('iInches').value = ''
    c.I('iHome').value = ''
    // c.I('iName').focus()
  }

  c.nameSwap = ()=>{
    let x = c.I('labels')
    for (label of x.getElementsByTagName('th')) {
      if (label.innerHTML === ' show ') {
        label.innerHTML = '<h5> Show on <br> Landing? <h5>'
      }
    }
  }

  c.setCheck = ()=>{
    // !!!
    // messes up because you count entry inputs as well!
    let boxes = c.I('checkBoxes').getElementsByTagName('input')
    for (i in boxes) {
      const card = this.data.nest.idCards[i-1] ? this.data.nest.idCards[i-1] : false
      if (card) {
        boxes[i].chartIndex = i-1
        if (card.show !== 'false') {
          boxes[i].checked = true
        }
      }
    }
  }

  c._ADD_EVENT('click', 'checkBoxes', ()=>{
    const i = event.path[0].chartIndex
    const checkboxStatus = event.path[0].checked === true ? 'true' : 'false'
    data.nest.idCards[i].show = checkboxStatus
  }, true)

  c._ADD_EVENT('click', 'more', ()=>{
    c.add()
  }, true)

  c._ADD_EVENT('keypress', 'iHome', ()=>{
    if (event.keyCode == 13) c.add()
  }, true)


  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
