<template id="example-component">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
	<div class="main" var="x _data">
		<hr style="margin-top:0px;">
		<div>
			<p>x.tracks</p>
		</div>
		<div for="{i} feet">
			<p>You have ran {i} miles today<span if="weather"> and it was x.weather</span></p>
		</div>
	</div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('example-component-tag') )=>{
  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
