<template id="landing">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
  .landing-container {
    margin-top: 50px;
    text-align: center;
    color: rgba(0,0,0,0.6);
    margin-top: 0px;
  }
  #title {
    font-size: 50px;
  }
  button {
    width: 150px;
    height: 100px;
    font-family: sans;
    background-color: rgba(50,0,0,0.05);
    font-size: 30px;
    border-style: solid;
    cursor: pointer;
    margin: 20px;
    margin-top: 50px;
  }
  button:hover {
    background-color: rgba(50,0,0,0.1);
  }
  span {
    font-size: 20px;
  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div class="landing-container">
    <div id='title'> --- Static Title </Div>
    <div>
      <button id="page2" style="border-color: rgba(100,0,0,0.3);"
        onclick="pageSet('home/page2')"> Page 2 </button>
      <button id="data" style="border-color: rgba(0,100,0,0.3);"
        onclick="pageSet('home/data')"> Data </button>
      <button id="login" style="border-color: rgba(0,0,100,0.3);"
        onclick="pageSet('home/htmlJS')">html.js</button>
    </div>
    <span> User: </span>
    <input id="user" placeholder="Not Set...">
    <span> Id# </span>
    <input id="idNum" placeholder="Not Set...">
  </div>
  <div if='nest.idCards' for='card nest.idCards'>
    <id-card-tag serve="card"></id-card-tag>
  </div>
  <!-- <id-card-tag serve="data.nest.idCards[0]"></id-card-tag>
  <id-card-tag serve="data.nest.idCards[1]"></id-card-tag>
  <id-card-tag serve="data.nest.idCards[2]"></id-card-tag>
  <id-card-tag serve="data.nest.idCards[1]"></id-card-tag> -->

</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('landing-tag') )=>{

  c._ON_SET = (attr)=>{
    c.root.getElementById('title').innerHTML = c.data.landingPageTitle
    if (c.data.user) {
      c.I('user').value = c.data.user
      c.I('idNum').value = c.data.id
    }
  }

  c._ADD_EVENT('click', 'login', ()=>{
    data.user = 'lippy66'
    data.id = '3ofjaksdf'
  }, true)

  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
