<template id="navbar">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
.navbar {
  padding: 0 5px 0 5px;
}
#landing {
  cursor: pointer;
  font-size: 25px;
  float: left;
}
.nav {
  float: right;
  color: rgba(0,0,0,0.25);
}
.nav-button {
  cursor: pointer;
}
.nav-button:hover, #landing:hover {
  color: rgba(50,0,0,0.25);
}
.clicked {
  color: rgba(50,0,0,0.25);
}
#endText {
  width: 100%;
  text-align: left;
  display: inline-block;
  font-size: 14px;
}
hr {
  margin: 0px 5px 0px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
<table style='width: 100%;' class='navbar'>
  <tr>
    <th id='landing' class="title gray1"
      onclick="_PAGE_SET('home/landing')"> HTML Cronenberg Demo
    </th>
    <th>
      <div class="nav">
        <span id='page2' class="nav-button gray1"
          onclick="_PAGE_SET('home/page2')"> Page 2 </span> &nbsp; :: &nbsp;
        <span id='data' class="nav-button gray1"
          onclick="_PAGE_SET('home/data')"> Data </span> &nbsp; :: &nbsp;
        <span id='htmlJS' class="nav-button gray1"
          onclick="_PAGE_SET('home/htmlJS')"> html.js </span> &nbsp; :: &nbsp;
        <span id='login' class="nav-button gray1"
          onclick="_PAGE_SET('login')"> Login </span>
      </div>
    </th>
  </tr>
</table>
<hr>
<div id="endText"></div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

let component = document.currentScript.ownerDocument.querySelector('#navbar').content
component.getElementById('endText').innerHTML =
  '<em> &nbsp; * Static script edited </em>';
// really, should never do it like this. you CAN, but will f-up if you add multiple components. best never do it like this...

((c = new Component('navbar-tag'))=>{

  c._ON_SET = (attr)=>{
    c.root.clicked = c.root.clicked || 'landing'
    if (attr === 'directory') {
      const dir = c.directory ? c.directory.split('/') : []
      for (page of dir) {
        if (c.I(page)) {
          c.pageSwap(page)
        }
      }
    }
  }

  c._ADD_EVENT('click', 'landing', ()=>{
    c.I('landing').innerHTML = 'HTML Cronenberg Demo'
    c.infoClick('landing Page')
  })

  c._ADD_EVENT('click', 'page2', c.infoClick = (x)=>{
    c.I('landing').innerHTML = 'HTML ('+( x ? x : 'Page2')+')'+c.data
  })

  c._ADD_EVENT('click', 'data', ()=>{
    c.infoClick('Data Page')
  })

  c._ADD_EVENT('click', 'htmlJS', ()=>{
    c.infoClick('htmlJS Page')
  })

  c._ADD_EVENT('click', 'login', ()=>{
    _DATA.nest.idCards[1].name = "("+c.data+")"
    _DATA.user = 'LodgeSkins'
    _DATA.id = 'fdg856csd3'
  }, true)

  c.pageSwap = (button, remove)=>{
    const xx = c.root.clicked
    c.I(c.root.clicked).classList.remove('clicked')
    if (!remove) c.I(button ? button : 'page2').classList.add('clicked')
    c.root.clicked = button ? button : 'page2'
  }

  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
