<template id="navbar">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
.navbar {
  width: 100%;
}
#title {
  cursor: pointer;
  font-size: 25px;
  float: left;
}
.nav {
  float: right;
  color: rgba(0,0,0,0.25);
}
.nav-button {
  cursor: pointer;
}
.nav-button:hover, #title:hover {
  color: rgba(50,0,0,0.25);
}
.clicked {
  color: rgba(50,0,0,0.25);
}

</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
<table style='width: 100%;'>
  <tr>
    <th id='title' class="title gray1"
      onclick="pageSet('navpage', 'landing')"> HTML components Demo
    </th>
    <th>
      <div class="nav">
        <span id='page2' class="nav-button gray1"
          onclick="pageSet('navpage', 'page2')"> Page 2 </span> &nbsp; :: &nbsp;
        <span id='data' class="nav-button gray1"
          onclick="pageSet('navPage', 'data')"> Data </span> &nbsp; :: &nbsp;
        <span id='login' class="nav-button gray1"
          onclick="pageSet('page', 'login')"> Login </span>
      </div>
    </th>
  </tr>
</table>
<hr style="margin-top: 0px;">
<div id="endText">
</div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

let component = document.currentScript.ownerDocument.querySelector('#navbar').content
component.getElementById('endText').innerHTML =
  '<em style="float: left; font-size: 14px; "> * Static script edited </em>';

((c = new Component([ 'navbar-tag', '#navbar' ]))=>{

  c.clicked = 'title'

  pageSwap = (button, remove)=>{
    if (!remove) {
      c.I(button ? button : 'page2').classList.add('clicked')
    }
    c.I(c.clicked).classList.remove('clicked')
    c.clicked = button ? button : 'page2'
  }

  c.addEvent('click', 'title', ()=>{
    c.I('title').innerHTML = 'HTML components Demo'
    pageSwap('title', true)
  })

  c.addEvent('click', 'page2', infoClick = (button, more)=>{
    c.I('title').innerHTML = 'HTML ('+( more ? more : 'Page2')+')'+c.data
    pageSwap(button ? button : 'page2')
  })

  c.addEvent('click', 'data', ()=>{
    infoClick('data', 'Data Page')
  })

  c.addEvent('click', 'login', ()=>{
    data.important2.name = "Nav Data Clicked ("+c.data+")"
    data.user = 'LodgeSkins'
    data.id = 'fdg856csd3'
  }, true)

  c.newElm()

})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
