<template id="navigation-cards">
<style>
.container-right {
	/*margin: 5% auto 5% 10%;*/
	float: right;
	overflow: scroll;
	padding: 10px;
	width: 40%;
	height: 600px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #C7C7C7;
}
.container-left {
	float: left;
	overflow: scroll;
	padding: 10px;
	width: 40%;
	height: 600px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #C7C7C7;
}
</style>
<content>
	<div class="container-left">
		<div class="accumulatedRuns">
			<p> Accumulated Run Data: </p>
		</div>
		<div var="x sortedRuns">
			<p>Number of runs so far: x.length </p>
			<p>Average distance: </p>
		</div>
	</div>
	<div class="container-right" var="x sortedRuns">
		<div class="latestRun">
			<p> Latest Run Data: </p>
		</div>
		<div>
			<p>x[0]</p>
		</div>
	</div>
	<!-- <div class="main"  for="x,i sortedRuns">
		<div class="container">
			<div id="mapbox">
				<p> x </p>
			</div>
		</div>
	</div> -->
</content>
</template>
<script>

(( c = new Component('navigation-cards-tag') )=>{
	c._ON_SET = (attr)=>{

		if (c.data.length > 0) {
			c.data = { runs: c.data }
			c.timeOrder()
			c.runDistance()
		}
	}

	c.timeOrder = ()=>{
		let sortedRuns = []
		for (const path of c.data.runs) {
			var pathName = path.name
			sortedRuns.push(pathName)
			sortedRuns.sort()
		}
		c.data.sortedRuns = sortedRuns
	}

	c.runDistance = ()=>{
		for (var i = 0; i < c.data.runs.length; i++) {
			c.data.runs[i]
		}
		console.log('run distance: ', c.data.runs[0].path)
	}

	c._NEW_ELM()
})()

</script>
