<template id="navigation-cards">
<style>
.container {
	margin: 5% auto 5% 10%;
	float: left;
	overflow: scroll;
	padding: 30px;
	width: 200px;
	height: 200px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #C7C7C7;
}
</style>
<content>
	<div class="main"  for="x,i runs">
		<div class="container">
			<div>
				<p> x.name </p>
				<div>
					<div>
						<p> x.path </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
</template>
<script>

(( c = new Component('navigation-cards-tag') )=>{
	c._ON_SET = (attr)=>{
		console.log(c.data)
		if (c.data.length > 0) {
			c.data = { runs: c.data }
			console.log(c.data)
			c.update()
		}
	}

	c._NEW_ELM()
})()

</script>
