<template id="route-maps">
<style>
#mapbox {
	height: 400px;
	width: 100%;
}
.text-container {
	text-align: center;
	padding-top: 20px;
}
</style>
<content>
	<div class="text-container">
		<span>Specific running map content coming soon!</span>
	</div>
  <div id="main-left">
    <div id="map-box">
      <div id="mapbox"></div>
    </div>
  </div>
</content>
</template>
<script>

(( c = new Component('route-maps-tag') )=>{
  c._ON_SET = (attr)=>{
	if (!c.map) {
	mapboxgl.accessToken = 'pk.eyJ1IjoiZW1pbHlhbm5lbW9zZXMiLCJhIjoiY2o2MDNzcGFpMGhnZzMyb2Y4cHRzeTN4dSJ9.fczhGQMwUNueFQTTsfuw2A';
      c.map = new mapboxgl.Map({
        container: c.I('mapbox'),
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-122.2583, 37.8012],
        zoom: 13
      });
	}
	}

  c._NEW_ELM()

})()
</script>
